<div class="dashboard-row-head row border-bottom border-2 mb-2 text-center fw-bold">
    <div class="dashboard-col col-2 dashboard-border-right border-2">
        <div class="col-6">#</div>
        <div class="col-6">sum</div>
    </div>
    <div class="dashboard-col col-10">
        <div class="col-1">jan</div>
        <div class="col-1">feb</div>
        <div class="col-1">mar</div>
        <div class="col-1">apr</div>
        <div class="col-1">may</div>
        <div class="col-1">jun</div>
        <div class="col-1">jul</div>
        <div class="col-1">aug</div>
        <div class="col-1">sep</div>
        <div class="col-1">oct</div>
        <div class="col-1">nov</div>
        <div class="col-1">dec</div>
    </div>
</div>
