<h1>Bookings</h1>

<ul>
    <% @bookings.each do | booking | %>
        <li>
            <p><%= booking.created_at.strftime("%F %T") %></p>
            <p><%= booking.category.name %></p>
            <p><%= booking.amount %></p>
            <%= link_to 'details', booking %>
        </li>
    <% end %>
</ul>