<table class="table table-dark table-stripped table-hover">
    <thead>
        <tr class="text-center">
            <th class="col-1" scope="col">Jan</th>
            <th class="col-1" scope="col">Feb</th>
            <th class="col-1" scope="col">Mar</th>
            <th class="col-1" scope="col">Apr</th>
            <th class="col-1" scope="col">May</th>
            <th class="col-1" scope="col">Jun</th>
            <th class="col-1" scope="col">Jul</th>
            <th class="col-1" scope="col">Aug</th>
            <th class="col-1" scope="col">Sep</th>
            <th class="col-1" scope="col">Oct</th>
            <th class="col-1" scope="col">Nov</th>
            <th class="col-1" scope="col">Dec</th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-end">
            <% for i in 1..12 do %>
                <% balance = calc_balances_per_month(i, @balances_per_year) %>
                <td class="col-1 <%= css_currency_background(balance) %>"><%= currency_as_euro(balance) %></td>
            <% end %>
        </tr>

        <% @account.bookings.group_by(&:category_id).values.each do |bookings| %>
            <tr class="text-end">
                <% for i in 1..12 do %>
                    <% sum = calc_category_per_month(i, bookings) %>

                    <td class="col-1 <%= css_currency_background(sum) %>"><%= currency_as_euro(sum) %></td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>