<table class="table table-dark table-stripped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">balance</th>
        </tr>
    </tbody>
</table>