<div class="d-flex flex-row justify-content-between mt-2">
    <%= link_to "previous", account_path(@account, :year => @year.to_i - 1) %>
    <p><%= @year %></p>
    <%= link_to "next", account_path(@account, :year => @year.to_i + 1) %>
</div>